@font-face {
  font-family: "iconfont"; /* Project id 4817119 */
  src: url('iconfont.woff2?t=1737549388984') format('woff2'),
       url('iconfont.woff?t=1737549388984') format('woff'),
       url('iconfont.ttf?t=1737549388984') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn2:before {
  content: "\e602";
}

.icon-zhihu:before {
  content: "\e69a";
}

.icon-google:before {
  content: "\e8f1";
}

.icon-github:before {
  content: "\e645";
}

.icon-sousuo:before {
  content: "\e65a";
}

.icon-Bing:before {
  content: "\eddb";
}

.icon-baidu:before {
  content: "\e8cb";
}

.icon-bilibili:before {
  content: "\e600";
}

